h2 Ejemplo Formulario
 form(method='post', action='/')
  fieldset
   legend Añadir un usuario
   p label Nombre
   input(name='user')
   p label Apellidos
   input(name='apellidos')
   p input(type='submit', value='guardar')
